<!--成功/失败-->
<div class="popup popOperate" id="popMsg">
    <div class="title">
        <h3></h3>
        <span class="close"></span>
    </div>
    <div class="pop-con">
        <p style="word-break: break-all;"><img src="@Url.Content("~/Content/images/ico3.png")" /> <span></span></p>
    </div>
    <div class="pop-button">
        <input class="btn btn-small btn-blue" name="btnSuccess" type="button" value="确定">
    </div>
</div>
<!--询问-->
<div class="popup popOperate" id="popConfirm">
    <div class="title">
        <h3></h3>
        <span class="close"></span>
    </div>
    <div class="pop-con">

        <p style="word-break: break-all;"><img src="@Url.Content("~/Content/images/ico2.png")" /> <span></span></p>
    </div>
    <div class="pop-button">
        <input class="btn btn-small btn-blue" name="btnSuccess" type="button" value="确认">
        <input class="btn btn-small btn-close" type="button" value="取消">
    </div>
</div>

<!--遮罩层-->
<div class="window-mask1"></div>
<div class="window-mask2"></div>
<div class="window-mask3"></div>
<div class="progressBar">正在操作，请稍后...</div>
<div class="background"></div>