@{

    Layout = "~/Areas/CompetitionUser/Views/Shared/_LayoutSystem.cshtml";
}
@section PageSpecificStyleSheetIncludes {
<script src="~/Content/js/Common/highcharts.js"></script>
    <script src="~/Content/js/Training/InvestmentPlan.js"></script>

}
<!--投资规划-->
<div class="con-right subsystem FinancePlan" id="FinanceInvestmentPlanDiv">
    <div class="main-hd">
        <input class="btn btn-small btn-blue fr ml10" type="button" id="btnNext" value="下一步">
        <input class="btn btn-small btn-blue fr ml10" type="button" id="btnSave" value="保 存">
    </div>
    <div class="main-bd investment">
        <div class="item" id="headInvestment">
            <div class="fif-con mb10">
                <div class="fif-box grid-7">
                    <label class="fif-text"><i class="c-red">*</i>当前客户所处家庭生命周期：</label>
                    <input type="hidden" name="ProposalId" id="ProposalId" value="" />
                    <input type="hidden" name="InvestmentPlanId" id="InvestmentPlanId" value="" />
                    <div class="input">
                        <select id="LifeCycleId" name="LifeCycleId" class="IsRequired" selecttag="" msgname="家庭生命周期" defaultval="0">
                            <option value="0">请选择</option>
                            <option value="1">单身期</option>
                            <option value="2">家庭形成期（筑巢期）</option>
                            <option value="3">家庭成长期（满巢期）</option>
                            <option value="4">家庭成熟期（离巢期）</option>
                            <option value="5">家庭衰老期（空巢期）</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="min-height:244px;">
                <div class="table grid-8 fl">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col">资产层级</th>
                                <th width="45%" scope="col">资产类型</th>
                                <th width="40%" scope="col">建议配置</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center"><b class="lump"></b>基础层</td>
                                <td>保险、应急金等</td>
                                <td><input type="text" disabled="" class="ipt-text grid-12 disabled" value="" id="InsureShow"></td>
                            </tr>
                            <tr>
                                <td align="center"><b class="lump" style="background-color: #63b2f4"></b>保值层</td>
                                <td>储蓄、国债、货币市场基金等</td>
                                <!--如果你给了默认值value 那么你的defaultval也要给出相同的值-->
                                <td><input type="text" class="ipt-text grid-10 IsRequired IsMaxNumber IsMinNumber IsReg" value="0" defaultval="0" id="HoldRate" name="HoldRate" msgname="保值层" maxnumber="100" minnumber="0" reg="\d{0,3}\.?\d{0,2}" msgreg="请输入0.00到99.99的数字"><span class="ml10">%</span></td>
                            </tr>
                            <tr>
                                <td align="center"><b class="lump" style="background-color: #2a91e6"></b>增值层</td>
                                <td>企业债券、债券型基金、混合型基金等</td>
                                <td><input type="text" class="ipt-text grid-10 IsRequired IsMinNumber IsMaxNumber IsReg" value="0" defaultval="0" id="IncreaseRate" name="IncreaseRate" msgname="增值层" maxnumber="100" minnumber="0" reg="\d{0,3}\.?\d{0,2}" msgreg="请输入0.00到99.99的数字"><span class="ml10">%</span></td>
                            </tr>
                            <tr>
                                <td align="center"><b class="lump" style="background-color: #086cc1"></b>投机层</td>
                                <td>股票型基金、股票、期货、贵金属等</td>
                                <td><input type="text" class="ipt-text grid-10 IsRequired IsMaxNumber IsMinNumber IsReg" value="0" defaultval="0" id="SpeculationRate" name="SpeculationRate" msgname="投机层" maxnumber="100" minnumber="0" reg="\d{0,3}\.?\d{0,2}" msgreg="请输入0.00到99.99的数字"><span class="ml10">%</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="showPie fr" style="width:249px;height:244px;">
                </div>
                @*<img class="fr" src="../../images/img01.jpg" width="249" height="244" >*@
            </div>
        </div>
        <h3 class="item-title">产品选择</h3>
        <div class="item b-grayish Tageach" id="ProductSelect" eacflag="ProductSelect">
            <div class="fif-con mb10">
                <div class="fif-box grid-4">
                    <label class="fif-text">已完成规划：</label>
                    <div class="input">
                        <select id="PlanId" name="PlanId" eacflag="PlanId" class="eac IsRequired" msgname="已完成规划" defaultval="0">
                            <option value="0">请选择</option>
                            <option value="1">教育规划</option>
                            <option value="2">消费规划</option>
                            <option value="3">创业规划</option>
                            <option value="4">退休规划</option>
                        </select>
                    </div>
                </div>
                <div class="fif-box grid-6">
                    <label class="fif-text"><i class="c-red">*</i>方案所需投资收益率：</label>
                    <div class="input">
                        <input type="text" disabled="" class="ipt-text grid-12 disabled eac" value="0" id="PlanRate" eacflag="PlanRate" readonly="readonly">
                        <span class="ml10">%</span>
                    </div>
                </div>
                <a class="spr spr-del js_remove fr" onclick="javascript: DelcloseProduct(this)" href="javascript:void(0)"></a>
            </div>
            <div class="table">
                <table class="mb10" id="ProductSelectTabCashFund" eacflag="ProductSelectTabCashFund" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="83" rowspan="2" align="center" class="c-white" eacflag="HedgeDiv" style="background-color: #63b2f4">保值层</td>
                            <td>
                                <span class="fl">银行储蓄选择</span>
                                <div class="fif-con fr grid-10">
                                    <div class="fif-box grid-12" style="margin-bottom:10px;">
                                        <label class="fif-text">活期：</label>
                                        <div class="input grid-11">
                                            <select style="width:35%;" id="DemandDepositsBank" eacflag="DemandDepositsBank" class="eac" defaultval="0">
                                                <option value="0">请选择</option>
                                                <option value="1">工商银行</option>
                                                <option value="2">农业银行</option>
                                                <option value="3">中国银行</option>
                                                <option value="4">建设银行</option>
                                                <option value="5">交通银行</option>
                                                <option value="6">招商银行</option>
                                                <option value="7">浦发银行</option>
                                                <option value="8">上海银行</option>
                                                <option value="9">上海农商银行</option>
                                                <option value="10">邮政银行</option>
                                                <option value="11">兴业银行</option>
                                                <option value="12">中信银行</option>
                                                <option value="13">平安银行</option>
                                                <option value="14">广发银行</option>
                                                <option value="15">民生银行</option>
                                                <option value="16">光大银行</option>
                                                <option value="17">华夏银行</option>
                                                <option value="18">渤海银行</option>
                                                <option value="19">南京银行</option>

                                            </select>
                                            <input style="width:25%;" type="text" disabled="" class="ipt-text disabled ml10 eac" value="0" id="DemandDepositsBankRate" eacflag="DemandDepositsBankRate">
                                             %
                                        </div>
                                    </div>
                                    <div class="fif-box grid-12">
                                        <label class="fif-text">定期：</label>
                                        <div class="input grid-11">
                                            <select style="width:35%;" id="TimeDepositBank" eacflag="TimeDepositBank" class="eac" defaultval="0">
                                                <option value="0">请选择</option>
                                                <option value="1">工商银行</option>
                                                <option value="2">农业银行</option>
                                                <option value="3">中国银行</option>
                                                <option value="4">建设银行</option>
                                                <option value="5">交通银行</option>
                                                <option value="6">招商银行</option>
                                                <option value="7">浦发银行</option>
                                                <option value="8">上海银行</option>
                                                <option value="9">上海农商银行</option>
                                                <option value="10">邮政银行</option>
                                                <option value="11">兴业银行</option>
                                                <option value="12">中信银行</option>
                                                <option value="13">平安银行</option>
                                                <option value="14">广发银行</option>
                                                <option value="15">民生银行</option>
                                                <option value="16">光大银行</option>
                                                <option value="17">华夏银行</option>
                                                <option value="18">渤海银行</option>
                                                <option value="19">南京银行</option>

                                            </select>
                                            <select class="ml10" style="width:35%;" id="TimeDepositBankTime" eacflag="TimeDepositBankTime" class="eac" defaultval="0">
                                                <option value="0">请选择期限</option>
                                                <option value="1">三个月</option>
                                                <option value="2">半年</option>
                                                <option value="3">一年</option>
                                                <option value="4">二年</option>
                                                <option value="5">三年</option>
                                                <option value="6">五年</option>
                                            </select>
                                            <input style="width:20%;" type="text" disabled="" class="ipt-text disabled ml10 eac" value="0" id="TimeDepositBankRate" eacflag="TimeDepositBankRate" readonly="readonly">
                                            %
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>基金产品选择</span>
                                <input type="button" value="货币市场基金" class="btn btn-blue btn-big ml10 CashFund" onclick="javascript: PupCashFund(this)" />
                                <div class="selected-list sib-list mt10">
                                    <div class="sib-item" field="Fund1">
                                    </div>
                                </div>
                                <input type="hidden" id="Fund1" name="Fund1" value="0" eacflag="Fund1" defaultval="0" class="eac" />
                                <input type="hidden" eacflag="CashCode" value="" />
                                <input type="hidden" eacflag="CashFund" value="" />
                                <input type="hidden" eacflag="CashMarket" value="" />
                                <input type="hidden" eacflag="YearlyEarningsRate1" value="" />
                            </td>
                        </tr>
                        <tr class="end"></tr>
                    </tbody>
                </table>
                <table class="mb10" id="ProductSelectTabBondFund" eacflag="ProductSelectTabBondFund" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="83" align="center" class="c-white" eacflag="AddStar" style="background-color:#2a91e6">增值层</td>
                            <td>
                                <span>基金产品选择</span>
                                <input onclick="javascript: PupBondFund(this)" type="button" value="债券型基金、混合型基金" class="btn btn-blue btn-big ml10 BondFund">
                                <div class="selected-list sib-list mt10">
                                    <div class="sib-item" field="Fund2">
                                    </div>
                                </div>


                                <input type="hidden" name="Fund2" id="Fund2" value="0" eacflag="Fund2" defaultval="0" class="eac" />
                                <input type="hidden" eacflag="BondCode" value="" />
                                <input type="hidden" eacflag="BondFund" value="" />
                                <input type="hidden" eacflag="BondMarket" value="" />
                                <input type="hidden" eacflag="YearlyEarningsRate2" value="" />
                            </td>
                        </tr>
                        <tr class="end"></tr>
                    </tbody>
                </table>
                <table class="mb10" width="100%" id="ProductSelectTabStockFund" eacflag="ProductSelectTabStockFund" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="83" rowspan="2" align="center" class="c-white" eacflag="SpeculateDiv" style="background-color: #086cc1">投机层</td>
                            <td>
                                <span>P2P产品选择</span>
                                <input class="btn btn-blue btn-big ml10 StockFund" type="button" value="P2P产品" onclick="javascript:PupPTwoProduct(this)">
                                <div class="selected-list sib-list mt10">
                                    <div class="sib-item" field="P2PProduct">
                                    </div>
                                </div>
                                <input type="hidden" disabled="" class="eac" id="P2PProduct" value="0" defaultval="0" eacflag="P2PProduct">

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>基金产品选择</span>
                                <input class="btn btn-blue btn-big ml10 StockFund" onclick="javascript: PupStockFund(this)" type="button" value="股票型基金">
                                <div class="selected-list sib-list mt10">
                                    <div class="sib-item" field="Fund3">
                                    </div>
                                </div>


                                <input type="hidden" id="Fund3" name="Fund3" value="0" eacflag="Fund3" defaultval="0" class="eac" />

                                <input type="hidden" eacflag="StockCode" value="" />
                                <input type="hidden" eacflag="StockFund" value="" />
                                <input type="hidden" eacflag="StockMarket" value="" />
                                <input type="hidden" eacflag="YearlyEarningsRate3" value="" />
                            </td>
                        </tr>
                        <tr class="end"></tr>
                    </tbody>
                </table>
            </div>
            <div class="fif-con">
                <div class="fif-box grid-5">
                    <label class="fif-text">产品组合预期收益率：</label>
                    <div class="input">
                        <input type="text" disabled="" class="ipt-text grid-12 disabled eac" value="" id="TotalRate" eacflag="TotalRate">
                        <span class="ml10" style="margin-left:0px;">%</span>
                    </div>
                </div>
            </div>
        </div>
        <span class="add-sib js_addItem" id="Add"></span>
        <div class="item last">
            <p class="mb10"><strong><i class="c-red">*</i>投资规划分析</strong></p>
            <textarea id="Analysis" class="IsRequired IsMaxLength IsMinLength" msgname="投资规划分析" minlength="1" maxlength="500"></textarea>
        </div>
    </div>
</div>

<!--基金层以-->
<div class="popup" id="popFundType" style="display: none;">
    <div class="title clearfix">
        <h3 class="fl">基金类型：<span id="FundTitle">货币市场基金</span></h3>
        <div class="fif-con grid-8 fr">
            <div class="fif-box grid-12" style="margin-bottom:0;">
                @*<label class="fif-text">代码/产品：</label>*@
                <div class="input grid-8">
                    <input style="width: 200px; color: #aea8a8" id="FundSearch" type="text" class="ipt-text" value="代码/产品">
                    <input class="btn btn-blue btn-small ml10 btnSearch" type="button" value="搜索">
                    <input type="hidden" id="hidType" name="hidType" value="" />
                </div>
            </div>
        </div>
        <span class="close"></span>
    </div>
    <div class="pop-con">
        <div class="table2 line-hei-tr textc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="mianBody">
                <thead>
                    <tr>
                        <th width="60" scope="col">操作</th>
                        <th width="110" scope="col">代码</th>
                        <th width="310" scope="col">产品</th>
                        <th width="110" scope="col">类型</th>
                        <th scope="col">近一年收益</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="page" style="padding-bottom:0;" id="pageDiv"></div>
    </div>
    <div class="pop-button"><input class="btn btn-small btn-blue btn-ok" type="button" value="确定">
    <input class="btn btn-small btn-blue btn-cancel" type="button" value="取消"></div>
</div>
<!--p2p产品    margin-top: -273px;-->
<div class="popup" id="popPTPType" style="display: none;">
    <div class="title clearfix">
        <h3 class="fl">P2P产品<span id="P2PTitle"></span></h3>
        <div class="fif-con grid-8 fr">
            <div class="fif-box grid-12" style="margin-bottom:0;">
                @*<label class="fif-text">代码/产品：</label>*@
                <div class="input grid-8">
                    <input style="width: 200px; color: #aea8a8" type="text" id="PTPSearch" class="ipt-text" value="产品名称/投资领域">
                    <input class="btn btn-blue btn-small ml10 btnSearch" type="button" value="搜索">
                    <input type="hidden" id="hidTypePTP" name="hidTypePTP" value="" />
                </div>
            </div>
        </div>
        <span class="close"></span>
    </div>
    <div class="pop-con">
        <div class="table2 line-hei-tr textc">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="mianBodyPTP">
                <thead>
                    <tr>
                        <th width="60" scope="col">操作</th>
                        <th width="210" scope="col">产品名称</th>
                        <th width="110" scope="col">投资领域</th>
                        <th width="110" scope="col">投资周期</th>
                        <th width="110" scope="col">起投金额</th>
                        <th scope="col">预期收益率</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="page" style="padding-bottom:0;" id="pageDivPTP"></div>
    </div>
    <div class="pop-button">
        <input class="btn btn-small btn-blue btn-ok" type="button" value="确定">
        <input class="btn btn-small btn-blue btn-cancel" type="button" value="取消">
    </div>
</div>
<!--遮罩层-->
<div class="windowBg" style="display: none;"></div>

