@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes {
    <script type="text/javascript" src="~/Content/js/Data/EnumList.js"></script>
}
<div class="conter clearfix">
    <div class=" d_yonghu2">
        <div class="d_yonghu3" style="display: block;">
            <div class="d_yonghu2_1s">
                <span class="fif-text">理财类型：</span>
                <div class="input">
                    <select id="selectFinancialType"></select>
                </div>
                <input id="btnSearch" src="/Content/images/d_xin/chaxun.png" type="image" />
                <input id="txtKeyWord" type="text" placeholder="客户姓名/身份证号" maxlength="20">
                <div class="clear"></div>
            </div>
            <div class="d_h10"></div>
            <div class="d_yonghu2_2">
                <div class="textr pad10" style="border-bottom:solid 1px #CEE2FB">
                    <a class="d_lanbaia ml10" href="@Url.Content("~/CaseRes/CaseView")">新增</a>
                    <div class="clear"></div>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th width="50">序号</th>
                            <th>客户姓名</th>
                            <th width="20%">身份证号</th>
                            <th width="15%">理财类型</th>
                            <th width="100">案例来源</th>
                            <th width="15%">创建日期</th>
                            <th width="18%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="caseList"></tbody>
                </table>
                <div class="page" id="CasePage"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // 理财类型下拉菜单
        selectHelper.GetSelect({
            url: "/CaseRes/GetFinancialTypeList",
            Id: "#selectFinancialType",
            value: "全部"
        });
        // 案例列表
        GetList("", "");
        // 搜索
        $("#btnSearch").unbind("click").click(function () {
            //获取查询条件
            var TypeId = "";
            var KeyWord = "";
            var type = $("#selectFinancialType").val();
            if (parseInt(type) != 0) {
                TypeId = type;
            }
            var key = $.trim($("#txtKeyWord").val()).replace(/[<>&"]/g, function (c) { return { '<': '&lt;', '>': '&gt;', '&': '&amp;', '"': '&quot;', '"': '&quot;', "'": '&prime;', "'": '&prime;' }[c]; });
            //if (key == "客户姓名/身份证号")
            //{ key = ""; }
            if (key != null && key != "" && key.length > 0) {
                KeyWord = key;
            }
            GetList(TypeId, KeyWord);
        });
    });

    function GetList(TypeId, KeyWord) {
        pageHelper.Init({
            url: "/CaseRes/GetCaseList",
            type: "POST",
            pageDiv: "#CasePage",
            data:
            {
                FinancialTypeId: TypeId,
                KeyWords: KeyWord,
                rId: Math.random()
            },
            bind: function (data) {
                var html = "";
                $(data.Data).each(function (index, dom) {
                    //每行html
                    var trHtml = "";
                    trHtml += "<tr>";
                    trHtml += "<td name=\"dataNo\">{0}</td>";
                    trHtml += "<td><div class=\"ellipsis\" title=\"{1}\">{1}</div></td>";
                    trHtml += "<td><div class=\"ellipsis\" title=\"{2}\">{2}</div></td>";
                    trHtml += "<td><div class=\"ellipsis\" title=\"{3}\">{3}</div></td>";
                    trHtml += "<td><div class=\"ellipsis\" title=\"{4}\">{4}</div></td>";
                    trHtml += "<td class=\"time\"><div class=\"ellipsis\">{5}</div></td>";
                    trHtml += "<td class=\"operate\">";
                    trHtml += "<a class=\"edit\" title=\"查看\" href=\"javascript:ViewCase({6});\">查看</a>";
                    trHtml += "<a class=\"edit\" title=\"下载\" href=\"javascript:ExportCase({6});\">下载</a>";
                    trHtml += "<a class=\"edit\" title=\"编辑\" href=\"javascript:EditCase({6});\">编辑</a>";
                    if (dom.Status == 1) {
                        trHtml += "<a class=\"del\" title=\"屏蔽\" href=\"javascript:ChangeCaseStatus({6},2);\">屏蔽</a>";
                    }
                    else {
                        trHtml += "<a class=\"del\" title=\"发布\" href=\"javascript:ChangeCaseStatus({6},1);\">发布</a>";
                    }
                    trHtml += "<a class=\"edit\" title=\"删除\" href=\"javascript:DelCase({6});\">删除</a>";
                    trHtml += "</td></tr>";
                    //拼接tbody
                    html += StringHelper.FormatStr(trHtml,
                        ((data.PageIndex - 1) * data.PageSize + index + 1),   //0 序号
                        dom.CustomerName,                               //1 客户姓名
                        dom.IDNum,                                      //2 身份证号
                        dom.strFinancialType,                           //3 理财类型
                        dom.strCollege,                                 //4 来源
                        dom.strCreateDate,                              //5 创建日期
                        dom.Id                                          //6 Id
                        );
                });
                if (data.Data == "" || data.Data == null) {
                    html += "<tr><td  colspan='7'>未找到相关记录！</td>";
                    $("#caseList").html(html);
                } else {
                    $("#caseList").html(html);
                }
            }
        });
    }

    // 编辑
    function EditCase(id) {
        location.href = "/CaseRes/CaseView?Id=" + id + "&Status=Edit";
    }

    // 查看
    function ViewCase(id) {
        location.href = "/CaseRes/CaseView?Id=" + id + "&Status=View";
    }

    // 屏蔽or发布
    function ChangeCaseStatus(caseId, statusType) {
        var title = "确定屏蔽该案例？";
        if (statusType == 1) {
            title = "确定发布该案例？";
        }
        // 弹出确认框
        dialogHelper.Confirm({
            content: title,
            success: function () {
                // 修改案例状态
                $.ajax({
                    url: "/CaseRes/ChangeCaseStatus",
                    type: "POST",
                    async: true,
                    dataType: "json",
                    data:
                    {
                        caseId: caseId,
                        statusType: statusType
                    },
                    success: function (data) {
                        dialogHelper.Success({
                            content: "操作成功！",
                            success: function () {
                                //刷新当前页
                                location.href = location.href;
                            }
                        });
                    }
                });
            }
        })

    }

    //删除
    function DelCase(id) {
        //弹出确认框
        dialogHelper.Confirm({
            content: "确定删除该案例？",
            success: function () {
                $.ajax({
                    url: "/CaseRes/DelCase",
                    type: "POST",
                    async: true,
                    dataType: "json",
                    data:
                    {
                        Id: id,
                        rId: Math.random()
                    },
                    success: function (data) {
                        dialogHelper.Success({
                            content: "删除成功！",
                            success: function () {
                                //刷新当前页
                                location.href = location.href;
                            }
                        });
                    }
                });
            }
        })
    }

    // 下载
    function ExportCase(caseId) {
        location.href = "/CaseRes/ExportCase?CaseId=" + caseId + "&randomId=" + Math.random();
    }

</script>
